__pycache__/*
nif/__pycache__/*
java/*
rdf/*
document_parses/*
docs/*
bioRdfIndexer/*
document_parses/*
example_parses/*
cache/*
entityRecognition/*
*.gz
unified_covid19/*.RData
unified_covid19/*.csv
unified_covid19/*.ttl
unified_covid19/test.py
*.csv
*.jar
*.ttl
*.xlsx
